body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0; /* Reset the margin */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    flex-grow: 1; /* Allow it to take up as much width as possible */
    text-align: center; /* Center the text */
}

.now, .app {
    color: #E32636;  /* Henkel Red color */
}

#darkModeToggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.card {
    padding: 20px;
    margin: 20px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  /* Set to 100% by default for mobile */
    box-sizing: border-box;
}

.img-container img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.cta-button {
    background-color: #e8433e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    max-width: 200px;
	text-decoration: none;  /* Removes the underline */
    display: inline-block;  /* Makes the button behave more predictably inside the anchor tag */
}

.dark-mode {
    background-color: #1e1e1e;
}

.dark-mode header {
    border-color: #333;
}

.dark-mode .card {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode header h1 {
    color: #f4f4f4;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

/* Social Bar (Common styles) */
.socials-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; 
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1000;
	background-color: #ffffff; /* white background for light mode */
}

.socials-bar span {
    font-size: 16px;
    margin-right: 10px;
}

.socials-bar a {
    display: inline-block;
    transition: opacity 0.3s ease;
}

.socials-bar a:hover {
    opacity: 0.7;
}

.socials-bar img {
    height: 24px;
    width: 24px;
}

.socials-bar .follow-text {
    color: #000000; /* black color for light mode */
    font-size: 16px;
    margin-right: -14px; /* Negative margin to reduce space */
}

.socials-bar .raqn-text {
    color: #D00000; /* Henkel Red */
    font-size: 16px;
    font-weight: bold; /* Bold font for RAQN */
}

/* Dark Mode adjustments for social bar */
.dark-mode .socials-bar {
    background-color: #1e1e1e;
}

.dark-mode .socials-bar .follow-text, 
.dark-mode .socials-bar a,
.dark-mode .socials-bar img {
    color: #f4f4f4;
}

/* For desktop layout */
@media (min-width: 768px) {
    .card {
        flex-basis: calc(50% - 40px);
        width: calc(50% - 40px);  /* Explicitly set for larger screens */
    }
    
    .img-container {
        flex: 1; 
        display: block; /* Add this */
        margin: 0 auto; /* Add this to center the image */
    }

    .cta-button {
        display: block; /* Change this to block */
        margin: 20px auto; /* Adjust the margin as per your preference */
		text-decoration: none;  /* Removes the underline */
		display: inline-block;  /* Makes the button behave more predictably inside the anchor tag */
	}
}
